
<header class="d-flex flex-wrap justify-content-center py-3 mb-4 px-3" style="background-color: #e3f2fd;">
    <a href="/" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none">
    <img src="images/train.png" alt="">
    <span class="fs-1">Ticketac</span>
    </a>

    <ul class="nav nav-pills">
    <li class="nav-item"><a href="#" class="btn btn-danger " aria-current="page">Connexion</a></li>&nbsp;
    <li class="nav-item"><a href="#" class="btn btn-secondary">My last tripe</a></li>
    </ul>
</header>
