<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <%- include('./_headerImports.ejs') %>
  </head>
  <body>
    <%- include('./_navbar.ejs') %>
    <div class="container">
      <h2 class="text-center">One-way ticket: </h2>
      <form action="/result" method="POST">
        <div class="row justify-content-around m-auto">
          <div class="col-12 col-md-3 offset-md-1 mt-1">
            <input name="departure" type="text" class="form-control" placeholder="From: Paris, Marseille ..." aria-label="rom: Paris, Marseille ...">
          </div>
          <div class="col-12 col-md-3 mt-1">
            <input name="arrival" type="text" class="form-control" placeholder="To: Lille, Nantes ..." aria-label="To: Lille, Nantes ...">
          </div>
          <div class="col-12 col-md-3 mt-1">
            <input name="date" type="date" class="form-control" placeholder="Last name" aria-label="Last name">
          </div>
          <div class="col-12 col-md-2 mt-1">
            <button type="submit" class="btn btn-danger">Go</button>
          </div>
        </div>
      </form>
      <div id="home-image" class="text-center m-5">
        <img id="home-image" src="/images/landmark.png" class="img-fluid">
      </div>
      
    </div>    
    <%- include('./_jsImports.ejs') %>
  </body>
</html>
